[Unit]
Description=Misskey: microblogging platform
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/
Environment="PATH=__PATH_WITH_NODEJS__"
Environment="NODE_ENV=production"
ExecStart=__NODEJS_DIR__/npm start
TimeoutSec=60
Restart=always

[Install]
WantedBy=multi-user.target
